<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="Database=YKCD_PHONGDIEN;Server=10.238.254.222;uid=sa;pwd=abc@123;Connect Timeout=290;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmsBrandnameSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sms.vnpthue.com.vn/ws/smsbrandname.asmx" binding="basicHttpBinding" bindingConfiguration="SmsBrandnameSoap" contract="SmsService.SmsBrandnameSoap" name="SmsBrandnameSoap"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
