<appSettings>
  <add key="Encrypt_Password" value="TTTHHCYKCD2013" />
  <add key="Path_Upload" value="D:\www" />
  <add key="PROVINCE_NAME" value="pGwgMGKBPbGtmMQBBXFbmXOQRAg4xWFpWUa1N085VIM=" />
  <add key="AGENCY_NAME" value="Sở Tài nguyên Môi trường" />
  <add key="AGENCY_ID" value="47"/>
  <add key="AGENCY_OFFICE" value="2"/>
  <add key="IS_USE_PROVINCE_MODULE" value="true" />
  <add key="IS_NEED_FINISH_CONFIRM_DEFAULT" value="true" />
  <add key="IS_ASSIGN_TO_STAFF" value="true"/>
  <add key="IS_ALLOW_ALL_USER_SEE_PROVINCE_REQUEST" value="true"/>
  <add key="Province_Service" value="http://ykcd.thuathienhue.egov.vn/Services/ProvinceService.asmx"/>
  <add key="Agency_Service" value=""/>
  <add key="HSCV_Service" value=""/>
  <add key ="IS_USE_SSO" value="true"/>
  <add key="DateRegion" value="bBvS8qtFEh4oitnfmTRNJg=="/>
  <add key="IS_USE_TRACKING" value="false"/>
  <add key="REPORT_DIRECT_TO_PROVINCE" value="true"/>
  <!--Khóa chứng thực ứng dụng-->
  <add key="APP_AccessKey" value="xxx"/>
  <add key="APP_SecretKey" value="xxx"/>
  <add key="APP_NAME" value="APP.000"/>
  <!-- Tham so SSO -->
  <add key="APP_LOGIN_URL" value="~/Public/DangNhap.aspx" />
  <add key="APP_DEFAULT_URL" value="~/Default.aspx" />
  <add key="USER_SERVICE_URL" value="https://user.thuathienhue.gov.vn/" />
  <add key="REDIRECT_PAGE_LOGIN" value="0" />
  <add key="IS_FIX_DATA" value="false"/>
</appSettings>