<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AgencyServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54565/Services/AgencyServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="AgencyServicesSoap"
                contract="AgencyServices.AgencyServicesSoap" name="AgencyServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>