<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProvinceServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ykcd.thuathienhue.egov.vn/Services/ProvinceService.asmx" binding="basicHttpBinding" bindingConfiguration="ProvinceServiceSoap" contract="ProvinceService.ProvinceServiceSoap" name="ProvinceServiceSoap"/>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
